Nuget.config
debug-config/
.svn
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.bak 
*.cache
*.dll 
*.log 
*.obj 
*.suo 
*.swp 
*.user 
*ReSharper* 
*resharper* 
_compareTemp 
_notes 
aspnet_client 
bin 
bin/* 
httpd.parse.errors 
obj
_ReSharper.*
Build
/dist
node_modules
packages
client*location
*DotSettings*
*Git Bash*
robocopy.log
src/.vs/
src/Backup*/
src/UpgradeLog*.htm
